/*Bootstrap selector*/
.search_select_box button {
	display: block;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.light{
	background-color: #fff !important;
}


/*////////////////////*/
.button_back {
  display: inline-block;


}

.input-color {
	color: #8b8787cc;
}

.button_submit {
  display: inline-block;
  float: right;

}

.button_add {
	padding-bottom: 1px;
    display: flex;
    justify-content: flex-end;
}

.t-al-center {
  text-align: center;
}


/*//////////////////////////////////////////////////////////////////
[ Flash messages ]*/
.center {
  text-align: center;
}

.message {
    padding: 1rem;
    /* thêm */
    background: #eff8ff;
    color: #2779bd;
    border-color: #6cb2eb;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
    width: 100%;
    /* position: absolute; */
  }
  .message.hidden {
    display: none;
  }
  .message.success {
    background: #e3fcec;
    color:lightpink;
    border-color: #51d88a;
  }
  .message.error {
    background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
  }

.list {
  color: black;
  font-family: Arial, Helvetica, sans-serif !important;
}
  /*//////////////////////////////////////////////////////////////////